<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add product to this page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'resetful/css/index.css' %}">
  </head>
  <body>
    <div id="warpper">
    <div id="main">
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
      <div class="content">
        <h3>Add a new product here:</h3>
        <form class="" action="{% url 'create_product' %}" method="POST" >
          {% csrf_token %}
          <p>Name:<input type="text" name='product_name'></p>
          <p>Description:<input type="text" name="description"></p>
          <p>Price:<input type="text" name="price"></p>
          <ul>
          <li><input type="submit" value="Create Product"></li>
          <li><a href="{% url 'index' %}">Return main</a></li>
          </ul>
      </div><!--close content-->
    </div><!--close main-->
    </div><!--close wrapper-->
  </body>
</html>
