<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/index.css"/>
    <title>Hello my friends</title>
  </head>
  <body>
    <div>
        <h3>The current time for now is: </h3>
        <div>
          <h2>@ViewBag.Time</h2>
        </div>
    </div>
  </body>
</html>

