<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/index.css"/>
    <title>Hello my friends</title>
  </head>
  <body>
    <div>
        <h3>Hello My friends</h3>
        <form action="Information" method="POST">
          <p>User Name: <input type="text" name="UserName"></p>
          <p>Dojo Location:<select name="Location">
            <option value="Bellevue">Bellevue</option>
            <option value="Seattle">Seattle</option>
            <option value="Lynnwood">Lynnwood</option>
            <option value="Kent">Kent</option>
            </select></p>
          <p>Favorite Language:<select name="Language">
            <option value="Java">Java</option>
            <option value="C#">C#</option>
            <option value="Javascripts">Javascripts</option>
            <option value="Python">Python</option>
            </select> </p>
          <p>Comment (Optional):</p>
          <textarea cols=25 rows=5 name="Comment"></textarea>
          <p><button type="submit">Submit</button></p>
        </form>
    </div>
  </body>
</html>

