@{
    ViewData["Title"] = "Home Page";
}
 <div class="center half-width">
            <h3 class="center-text">Random passcode</h3>
            <div class="code-box center quarter-width">
                <p class="center-text">@ViewBag.PassCode</p>
            </div>
            <div class="quarter-width center center-text">
                <a href="/"><button>Generate</button></a>
            </div>
        </div>